
.p-dropdown-panel {
  position: fixed !important;
  z-index: 2000 !important;
}

.p-paginator .p-dropdown-panel {
  z-index: 1200 !important;
}

.p-paginator {
  position: relative;
  z-index: 1000;
}

.shadow-md.rounded-lg {
  overflow: visible !important;
}

