<aside class="sidebar">
  <div class="logo">
    <i class="pi pi-wave"></i>
    <span>Poseidon</span>
  </div>

  <nav class="menu">
    <h4 class="menu-title">DASHBOARDS</h4>
    <a class="menu-item active" routerLink="/marketing">
      <i class="pi pi-chart-bar"></i>
      <span>Marketing</span>
    </a>
    <a class="menu-item" routerLink="/ecommerce">
      <i class="pi pi-shopping-cart"></i>
      <span>E-Commerce</span>
    </a>
    <a class="menu-item" routerLink="/banking">
      <i class="pi pi-wallet"></i>
      <span>Banking</span>
    </a>

    <h4 class="menu-title">APPS</h4>
    <a class="menu-item" routerLink="/chat">
      <i class="pi pi-comments"></i>
      <span>Chat</span>
    </a>
    <a class="menu-item" routerLink="/files">
      <i class="pi pi-folder"></i>
      <span>Files</span>
    </a>
    <a class="menu-item" routerLink="/mail">
      <i class="pi pi-envelope"></i>
      <span>Mail</span>
    </a>

    <h4 class="menu-title">UI KIT</h4>
    <a class="menu-item" routerLink="/form-layout">
      <i class="pi pi-id-card"></i>
      <span>Form Layout</span>
    </a>
    <a class="menu-item" routerLink="/button">
      <i class="pi pi-circle-fill"></i>
      <span>Button</span>
    </a>
    <a class="menu-item" routerLink="/table">
      <i class="pi pi-table"></i>
      <span>Table</span>
    </a>
  </nav>
</aside>
